.App {
  width: 450px;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  margin: 90px auto;
  color: #555;
  background: #E4F1FE;
  border-radius: 10px;
}

img.HangmanImage {
  max-width: 200px;
  max-height: 200px;
  margin-left: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1.title {
  margin-bottom: 0px;
  color: #333;
}

h1.word-title {
  color: #555;
}

form {
  margin: 10px auto;
  display: flex;
  flex-flow: column nowrap;
}

form label {
  margin: 10px auto;
  font-size: 18px;
}

form label input {
  height: 22px;
  line-height: 1;
  padding: 5px;
  margin-left: 10px;

}


input.hangman-button,
button.hangman-button {
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 500;
  margin: auto;
  flex: 1;
  font-size: 14px;
  width: 120px;
}

button.NewGameButton {
  background: #4286f4;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
